:root {
    --primary-color: #7015b9;
    --secondary-color: #ffffff;
    --font-family: 'Arial, sans-serif';
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    background-color: linear-gradient(to right, #286fa8, #178842);
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
}
header a {
    text-decoration: none;
    color: white;
}
header .logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
header .navigation a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
header .navigation a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
.title {
    text-align: center;
    margin-bottom: 30px;
}
.title h1 {
    margin: 0;
    font-size: 36px;
}
.title p {
    font-size: 18px;
    color: #555;
}
.dis-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: translateY(-5px) 3s ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card h3 {  
    margin-top: 0;
}
.card p {
    color: #777;
}   
.card a {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}
.card a:hover {
    text-decoration: underline;
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}
footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer p {
    margin: 5px 0;
}
.explore {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.explore span h4 a {
    text-decoration: none;
    color: var(--primary-color);
}
.explore span h4 a:hover {
    text-decoration: underline;
}
.explore span h4 {
    margin: 0;
}
.explore span {
    text-align: center;
}
.social-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.explore span a {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: linear-gradient(to right, #852929, #178842);
}