:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --font-family: 'Arial, sans-serif';
}
/* Header */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: var(--font-family);
}
.navigation a {
    color: white;   
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
header .logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}




.intro {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
    background-color: whitesmoke;
}
.team {
    display: flex;
}
.team-member {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--secondary-color);
    text-align: center;
}
.team-card h1 {
    font-size: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}